.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #212121;
  padding: 5px;
  border-radius: 15px;
  min-width: 2.2rem;
  justify-content: center;
}

.on{
  width: 10rem !important;
}

.input{
  outline:none;
  transition: all 0.5s;
  border: none;
  width:0px;
}
