.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cafe{
  color: #795548;
}

.header{
  width: 100%;
  height: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name{
  font-size: 1.5rem;
  font-weight: 500;
}

.text{
  width: 100%;
  display: flex;
  min-height: calc( 100vh - 5rem);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-left: 5rem;
}

.text span{
  font-size: 2.5rem;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.text p{
  font-size: 1.3rem;
  color: #212121aa
}
