.section{
  margin-top: 1rem;
}

.post{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post2{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.photo{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.photo img{
  filter: grayscale(100%);
  object-fit: cover;
  object-position: center;
}

.text{
  display: flex;
  flex-direction: column;
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
}

.info{
  text-align: left;
}

.title{
  font-size: 3rem;
}

.date{
  color: #212121AA;
}

@media (max-width: 768px){
  .post, .post2{
    grid-template-columns: 1fr;
  }

  .photo{
    height: 250px;
  }
}
