@font-face {
    font-family: "Minion";
    src: url("../public/Minion.otf") format("opentype");
}

* {
  font-family: "Minion", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: serif;
  color: #212121;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
  color: #212121;
}

main{
  width: 1024px;
  max-width: 1024px;
}

p{
  text-indent: 1rem;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  main{
    width: 100vw;
  }
}

@media (min-width:600px) and (max-width: 1024px) {
  main{
    width: 600px;
  }
}
